@media all and (max-width: 900px) {
    body {
        font-family: sans-serif;
        font-size: small;
        background-color: darkgray;
        height:500px;
    }

    .anios {
        width: 50px;
        font-size: small;
        height: 12px;
        margin-right: 30px;
    }

    #annacim {
        margin-left: 147px;       
    }

    div:not(.botones,.entradas,.letreros,.inputs,.marco1) {        
        padding-left: 15px;
        margin-top: 30px;        
    }    

    video{
        height:500px;
    }
}


@media all and (min-width: 901px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        background-color: darkgray;
    }

    .anios {
        width: 100px;
        font-size:small;
        height:12px;
    }
   
    #annacim {
        margin-left: 147px;
    }

    div:not(.botones,.entradas,.letreros,.inputs,.marco1) {
        flex-flow: row;
        margin-left: 130px;
        padding-left: 30px;
        margin-top: 30px;
        margin-right: 130px;
    }
}

@media all and (min-width: 1501px) {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
        background-color: darkgray;
    }

    .anios {
        width: 200px;
    }

    #annacim {
        margin-left: 187px;
    }

    div:not(.botones,.entradas,.letreros,.inputs,.marco1) {
        flex-flow: row;
        margin-left: 330px;
        padding-left: 30px;
        margin-top: 30px;
        margin-right: 360px;
    }
}

h1 {
    padding-top: 30px;    
}

p:not(.letreros) {
    width:inherit;
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0%;  
}

.present {
    margin-top: 30px;
    background-color:rgba(180, 180, 180, 0.5); /*gris*/
    height: 150px;
}

#divresult {
    visibility: hidden;
    transition: 1s;
}

.Formulario {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(188, 210, 255, 0.5); /*azul*/
}

.entradas{
    display: flex;
    flex-flow:row;
    justify-items:center;
    column-gap:50px;
}
.letreros {
    display:flex;
    flex-flow:column;
    justify-items:left;
    row-gap:3px;
}
.inputs{
    display:flex;
    flex-flow:column;
    justify-items:left;
}

.botones{    
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;    
}

#nacim {
    font-size: small;
    background-color: rgba(224, 101, 127, 0.50); /*rojo*/
    color: rgb(12, 12, 12);
    width: 80%;
    margin-top:4px;
    margin-bottom:2px;   
}

#result, #irpf {
    font-weight: bold;
    background-color: rgb(169, 235, 169); /*Verde*/
    color: rgb(12, 12, 12);
    width: 80%;
}

video {
    height:1080px;
    width:1900px;
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    top:0;
    z-index:-2;
}

.marco1 {
    height: 1080px;
    width: auto;
    z-index: -2;
    opacity: 100%;
    resize:inherit;
}
